<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="error" monitorInterval="60">
    <Properties>
        <Property name="LOG_LAYOUT">%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%t] %C{1.}:%-4L- %msg%xEx%n</Property>
    </Properties>
    <Appenders>
        <!--这个输出控制台的配置 -->
        <Console name="console" target="SYSTEM_OUT">
            <!--控制台只输出level及以上级别的信息（onMatch），其他的直接拒绝（onMismatch） -->
            <ThresholdFilter level="trace" onMatch="ACCEPT" onMismatch="DENY"/>
            <!--这个都知道是输出日志的格式 -->
            <PatternLayout pattern="${LOG_LAYOUT}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info" includeLocation="true">
            <Appender-ref ref="console"/>
        </Root>
        <Logger name="com.drl.demo" level="debug"/>
    </Loggers>

</Configuration>